.container {
    width: 255px;
    font-family: "Fraunces";
}

.container div {
    color: var(--dark-grey-blue);
    opacity: 0.4;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1.5rem 0;
}

.container div:hover {
    opacity: 0.6;
    cursor: pointer;
}

.container span {
    color: var(--dark-cyan);
    margin-right: 28.5px;
}

.container hr {
    border: none;
    border-top: 1px solid var(--grey);
    opacity: 0.25;
}

.focused {
    opacity: 1 !important;
}

.disabled {
    cursor: not-allowed !important;
    opacity: 0.2 !important;
}