.container {
    position: relative;
    padding: 0 24px;
    background-color: var(--dark-grey-blue);
    border-radius: 10px;
    padding: 61px 24px;
    padding-top: 0;
}

.container img {
    transform: translateY(-50%)
}

.text-container {
    text-align: center;
    color: var(--light-cream-bg);
    margin-top: -15px;
}

.text-container h2 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
}

.text-container p {
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    opacity: 0.8;
}

@media (min-width: 45rem) {
    .container {
        padding: 67px 74px;
        padding-top: 0;
    }
    .text-container {
        margin-top: -104px;
    }
    .text-container h2 {
        font-size: 2rem;
    }
}

@media (min-width: 69rem) {
    .container {
        display: flex;
        flex-direction: row-reverse;
        padding: 0 85px;
        gap: 125px;
    }
    .container img {
        transform: translateY(-88px);
    }
    .text-container {
        margin: 0;
        text-align: left;
        padding-top: 88px;
    }
    .text-container h2 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    .text-container p {
        font-size: 1rem;
        line-height: 1.625rem;
    }
}